.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 520px;
  min-height: 500px;
  background: #a28aff;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
.h1 {
  margin: 32px 0;
  color: rgb(30, 4, 4);
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}
